doctype html
html(ng-app="main", class="bgc-white-1")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/lumx.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/materialdesignicons.css')
    link(rel='stylesheet', href='/stylesheets/tree.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"')
    link(rel="stylesheet", href="/stylesheets/perfect-scrollbar.min.css")
    
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/velocity.js')
    script(src='/javascripts/moment-with-locales.js')
    script(src='/javascripts/angular.js')
    script(src='/javascripts/angular-sanitize.js')
    script(src="/javascripts/perfect-scrollbar.min.js")
    script(src="/javascripts/perfect-scrollbar.with-mousewheel.min.js")
    script(src="/javascripts/angular-perfect-scrollbar.js")
    script(src='/javascripts/lumx.js')
    script(src='/javascripts/utils.js')
    script(src='/javascripts/main.js')
    script(src="https://maps.googleapis.com/maps/api/js")
    script(src='/javascripts/maps.js')

  body
    block content